@media (max-width: 980px) {
/*------------------------------------*\
    #SETTINGS
\*------------------------------------*/

html {
    font-size: 3vh;
}

body {
    background: url(../image/bg-mob.png);
    background-attachment: fixed;
}


section {
	height: 100vh;
	margin-bottom: 10vh;
}


.left {	
	float: none;
	margin-right: 0;
}
.right { float: none; }


.l-mob { 
	position: relative;
	float: right;

}
.r-mob { float: left; }



/*------------------------------------*\
    #BASE
\*------------------------------------*/

img {
	height: 100vh;
}





/*------------------------------------*\
    #OBJECTS
\*------------------------------------*/

.firstScreen {
	margin-bottom: 30vh;
}


.content {
	padding: 0;
}


.title {
	z-index: 999;
	position: absolute;
	top: 14vh;
	background: rgba(0, 0, 0, 0.6);
	height: auto;
	border-radius: 0.2em;
	padding: 0 5em;
	line-height: 1em;
	margin-bottom: 0;
}


.picture {
	z-index: -1;
	text-align: center;
}

.main {
	position: absolute;
	top: 12vh;
	left: 21vw;
}


.start {
	z-index: 999;
    position: absolute;
    top: 75vh;
    right: 0vw;
    text-align: left;
	background: rgba(0, 0, 0, 0.6);
	height: auto;
	border-radius: 0.2em;
	padding: 1em 5em 1em 7em;
	line-height: 1em;
}


ul {
	margin-top: 15vh;
	margin-left: -3vw;
}

.ulThird {
	margin-top: 10vh;
	margin-left: 0;
}


li {
	list-style-type: none;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 0.5em;
	height: 3em;
	width: 40vw;
	padding: 0.9em 0;
	margin-bottom: 7vh;
}


.text-mob-screen-1 {
	position: absolute;
	top: 150vh;
	left: 0;
}


.text-mob-screen-2 {
	position: absolute;
	top: 260vh;
	right: 7vw;
}


.text-mob-screen-3 {
	position: absolute;
	top: 370vh;
	left: 7vw;
}


.footerMiddle{
	padding: 0 15vw;
}
}