@media screen and (max-width: 980px) {
/*------------------------------------*\
    #SETTINGS
\*------------------------------------*/

html {
    font-size: 3vw;
}

body {
    background: url(../image/bg-mob.png);
    background-attachment: fixed;
	padding: 2vw 5vw;
}


section {
	height: 50vh;
	margin-bottom: 20vh;
}


.left {	
	float: none;
	margin-right: 0;
}
.right { float: none; }


.l-mob { 
	position: relative;
	float: right;

}
.r-mob { float: left; }



/*------------------------------------*\
    #BASE
\*------------------------------------*/

img {
	height: auto;
	width: 80vw;
}





/*------------------------------------*\
    #OBJECTS
\*------------------------------------*/

.firstScreen {
	margin-bottom: 40vh;
}


.content {
	padding: 0;
}


.title {
	z-index: 999;
	position: absolute;
	top: 13vh;
	background: rgba(0, 0, 0, 0.6);
	height: auto;
	border-radius: 0.2em;
	padding: 0 5em;
	line-height: 1em;
	margin-bottom: 0;
}


.picture {
	z-index: -1;
	text-align: center;
}

.main {
	position: absolute;
	top: 12vh;
	left: 10vw;
}


.start {
	z-index: 999;
    position: absolute;
    top: 65vh;
    right: 0vw;
    text-align: left;
	background: rgba(0, 0, 0, 0.6);
	height: auto;
	border-radius: 0.2em;
	padding: 1em 5em 1em 7em;
	line-height: 1em;
}


ul {
	margin-top: 0vh;
	margin-left: 0;
}

.ulThird {
	margin-left: -5vw;
}


.li {
	width: 35vw;
	margin-bottom: 2vh;
}


li {
	list-style-type: none;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 0.5em;
	height: 3em;
	width: 35vw;
	padding: 0.9em 0;
	margin-bottom: 1vh;
}


.text-mob-screen-1 {
	position: absolute;
	top: 100vh;
	left: 0;
}


.text-mob-screen-2 {
	position: absolute;
	top: 185vh;
	right: 5vw;
}


.text-mob-screen-3 {
	position: absolute;
	top: 255vh;
	left: -5vw;
}


.footerMiddle{
	padding: 0 5vw;
}
}