@media screen and (max-width: 576px) {
/*------------------------------------*\
    #SETTINGS
\*------------------------------------*/

html {
    font-size: 4vw;
}

body {
    background: url(../image/bg-mob.png);
    background-attachment: fixed;
	padding: 8vw 5vw 0 5vw;
}


section {
	height: 50vh;
	margin-bottom: 40vh;
}


.left {	
	float: none;
	margin-right: 0;
}
.right { float: none; }


.l-mob { 
	position: relative;
	float: right;

}
.r-mob { float: left; }



/*------------------------------------*\
    #BASE
\*------------------------------------*/

img {
	height: auto;
	width: 80vw;
}





/*------------------------------------*\
    #OBJECTS
\*------------------------------------*/

.firstScreen {
	margin-bottom: 50vh;
}


.content {
	padding: 0;
}


.title {
	z-index: 999;
	position: absolute;
	top: 8em;
	left: 1.5em;
	background: rgba(0, 0, 0, 0.6);
	height: auto;
	border-radius: 0.2em;
	padding: 0 2.5em;
	line-height: 1em;
}


.picture {
	z-index: -1;
	text-align: center;
}

.main {
	position: absolute;
	top: 21vh;
	left: 10vw;
}


.start {
	z-index: 999;
    position: absolute;
    top: 70vh;
    width: 100%;
    text-align: center;
	background: rgba(0, 0, 0, 0.6);
	height: auto;
	border-radius: 0.2em;
	padding: 1em 0;
	line-height: 1em;
	font-size: 1.1rem;
}


.h2-mob {
	position: absolute;
	top: -13vh;
	left: 5vw;
	margin: 0;
	padding: 0;
	width: 90vw;
}

.h2-screen-2-mob {
	top: -33vh;
	left: 10vw;
}

.h2-screen-3-mob {
	top: -33vh;
	left: -45vw;
}

ul {
	margin-top: 0vh;
	margin-left: 0;
}

.ulThird {
	margin-left: -5vw;
}


.li {
	width: 35vw;
	margin-bottom: 2vh;
}

.liRight {
	margin-left: 0em;
}

.liLeft {
	margin-right: 0em;
}

li {
	list-style-type: none;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 0.5em;
	height: 3em;
	width: 35vw;
	padding: 0.9em 0;
	margin-bottom: 1vh;
}

.li-screen-mob-3 {
	width: 42vw;
	height: auto;
	padding: 0.9em 0.1em;
}


.text-mob-screen-1 {
	position: absolute;
	top: 110vh;
	left: 0;
}


.text-mob-screen-2 {
	position: absolute;
	top: 220vh;
	left: -5vw;
}


.text-mob-screen-3 {
	position: absolute;
	top: 310vh;
	right: 5vw;
}


.footerMiddle{
	padding: 0 5vw;
}
}

